* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body{
    min-height: 100vh;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin: 0;
    background: gainsboro;
    /* padding: 20px;  */
}
.app{
    margin: 60px auto;
    width: 100%;
    max-width: 520px;
    background: white;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
.app__title{
    font-size: 28px;
    margin-bottom: 18px;
    /* text-align: center; */
}
.todo-form{
    display: flex;
    gap: 22px;
    margin-bottom: 18px;
}
.todo-form__input{
     flex: 1; /*растянуться на всю ширину */
     padding: 8px 12px; /*первый аргумент сверху и снизу, второй слева и справа */
     border: 1px solid #d1d5db;
     border-radius: 5px;
     /* outline: none; чтобы не было синей рамки когда кликаешь */
}
/* 
.todo-form__input:focus {
    border-color: #6366f1;
  } */

.todo-form__btn{
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #347AB7;
    font-size: 12px;
    color: white;
}

.todo-form__btn:hover {
    filter: brightness(0.95);
    /* когда наводится на кнопку то появляется эффект */
  }

  .todo-form__btn:active {
    transform: translateY(1px);
    /*Создаётся эффект нажатия.  */
  }


.todo{
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 14px;
    padding: 16px;
}

.todo__title {
    font-size: 18px;
    margin-bottom: 12px;
}
/* .todo__list li{
    background-color: #6b7280;
} */
.todo__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 0; */
    /* margin: 0; */
}

.todo_empty {
    margin-top: 12px;
    color: #6b7280;
    text-align: center;
  }


  .todo__list li {
    background: white;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
}

.navbar{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 12px 14px;
    background: black;
}

.navbar__container {
    max-width: 1200px;
    margin: 0 auto;
}
.navbar__logo{
    color: grey;
    /* background-color: black; */
    /* width: 100%; */
}

.todo__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 14px;
    border-radius: 8px;
    gap: 10px;
}

.todo__delete {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
}

.todo__item span {
    flex: 1;
}

.todo__item.done span {
    text-decoration: line-through;
    opacity: 0.6;
}

.todo__checkbox {
    cursor: pointer;
}