*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #f0f2f5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #1c1e21;
}

.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 50%;
    max-width: 1000px;
    flex: 1;
}

.left-side{
    flex: 1;
}

.left-side p {
    font-size: 22px;
    color: #1c1e21;

}

.right{
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}
.right-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.right input{
    padding: 14px;
    margin-bottom: 12px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.login{
    background-color: #1877f2;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%; 
    font-style: bold;
}
.right a{
    background-color: white;
    padding: 12px;
    margin: 12px 0;
    text-decoration: none;
    font-size: 14px;
    color: #1877f2;
    text-align: center;
    /* font-style: bold; */
}
hr{
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.signup{
    background-color: #42b72a;
    padding: 10px;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    width: 70%;
    margin: 0 auto;
}
.create-page {
    font-size: 12px;
    color: #1c1e21;
    text-align: center;
    max-width: 360px;
    padding: 10px;
}

.footer{
    width: 100%;
    background: #fff;
    margin-top: auto ;
    padding: 20px 0 28px;
    font-size: 12px;
    color: #8a8d91;
}

.footer-languages{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    max-width: 1000px;
    margin: 0 auto;
    gap: 6px 12px;

}
.footer a{
    text-decoration: none;
    color:#8a8d91;
}
.footer-languages span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 20px;
    border: 1px solid #ccd0d5;
    border-radius: 2px;
    background: #f5f6f7;
    color: #4b4f56;
    font-size: 14px;
}



.footer-links{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 6px 12px;
}

.footer-meta{
    width: 100%;          
    margin-top: 10px;    
    padding-left:1px;   
}
